:root {
  /* define colors used */
  --erie-black: 30 30 29;
  --narvik: 231 231 216;
  --eagle: 174 172 149;
  --fire-bush: 240 146 53;
  --jaffa: 237 117 47;
  --sorbus: 236 101 43;

  /* store in variables */
  --text-dark: rgb(var(--erie-black));
  --text-default: rgb(var(--erie-black) / 0.8);

  --accent: rgb(var(--jaffa));
  --accent-light: rgb(var(--fire-bush));
  --accent-very-light: rgb(var(--jaffa) / 0.1);
  --accent-dark: rgb(var(--sorbus));

  --accent-secondary: rgb(var(--eagle));

  --background: rgb(var(--narvik));
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--background);
  color: var(--text-default);
  font-size: 0.875rem;
  line-height: 1.75;
  font-weight: 400;
}

.heading {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--text-dark);
  letter-spacing: -2%;
  line-height: 1;
}

.text-lg {
  font-size: 1.15rem;
  line-height: 1.2;
  color: var(--text-dark);
  font-weight: 500;
}

.section_content_margin {
  margin-bottom: 90px;
}
@container (width > 600px) {
  .section_content_margin {
    margin-bottom: 135px;
  }
}

.small-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.content_wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 670px;
  container-type: inline-size;
}

/* desktop styles */
@media screen and (min-width: 1025px) {
  body {
    height: 100vh;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
  }
}
