---
import '../styles/global.css';
import SectionLayout from '../layouts/SectionLayout.astro'
import LeftLayout from '../layouts/LeftLayout.astro'
import RightLayout from '../layouts/RightLayout.astro'
import BioSection from '../components/BioSection.astro'
import ProjectSection from '../components/ProjectSection.astro';
import TechSection from '../components/TechSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href='/public/coffee.svg' />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pedro Enciso</title>
		<style>

		</style>
	</head>
	<body>
		<SectionLayout>
			<BioSection />
		</SectionLayout>
		<SectionLayout>
			<ProjectSection />
		</SectionLayout>	
		<SectionLayout>
			<TechSection />
		</SectionLayout>	
		<SectionLayout>
			<ContactSection />
		</SectionLayout>
		<LeftLayout>
			<BioSection />
			<ContactSection />
		</LeftLayout>
		<RightLayout>
			<ProjectSection />
			<TechSection />
		</RightLayout>
	</body>
</html>
