---
import ContactIcons from './ContactIcons.astro'
---

<div class="section_content_margin">
  <div class="text_container">
    <p class="heading title">Want to connect?</p>
    <p>Email me or shoot me a message on social!</p>
  </div>
  <ContactIcons />
</div>

<style>
  .text_container {
    margin-bottom: 1rem;
  }

  .title {
    margin-bottom: 8px;
  }
</style>