---
  import TechList from './TechList.astro';

  const frontend = ['HTML/CSS', 'Typescript', 'React', 'Vue', 'TailwindCSS']
  const backend = ['NodeJS', 'Express', 'MySQL'];
  const other = ['Git', 'Firebase', 'Supabase'];
---

<section class="wrapper">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#18181b" fill-opacity="1" d="M0,160L18.5,138.7C36.9,117,74,75,111,85.3C147.7,96,185,160,222,181.3C258.5,203,295,181,332,160C369.2,139,406,117,443,122.7C480,128,517,160,554,165.3C590.8,171,628,149,665,138.7C701.5,128,738,128,775,138.7C812.3,149,849,171,886,160C923.1,149,960,107,997,117.3C1033.8,128,1071,192,1108,181.3C1144.6,171,1182,85,1218,69.3C1255.4,53,1292,107,1329,122.7C1366.2,139,1403,117,1422,106.7L1440,96L1440,0L1421.5,0C1403.1,0,1366,0,1329,0C1292.3,0,1255,0,1218,0C1181.5,0,1145,0,1108,0C1070.8,0,1034,0,997,0C960,0,923,0,886,0C849.2,0,812,0,775,0C738.5,0,702,0,665,0C627.7,0,591,0,554,0C516.9,0,480,0,443,0C406.2,0,369,0,332,0C295.4,0,258,0,222,0C184.6,0,148,0,111,0C73.8,0,37,0,18,0L0,0Z"></path>
  </svg>
  <h2 class="title small-header">Technologies I've worked with</h2>
  <div class="list-wrapper">
    <TechList title='frontend' techList={frontend} />
    <TechList title='backend' techList={backend} />
    <TechList title='other' techList={other} />
  </div>
  <svg class="bottom-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fafafa" fill-opacity="1" d="M0,64L26.7,80C53.3,96,107,128,160,149.3C213.3,171,267,181,320,181.3C373.3,181,427,171,480,149.3C533.3,128,587,96,640,90.7C693.3,85,747,107,800,101.3C853.3,96,907,64,960,53.3C1013.3,43,1067,53,1120,85.3C1173.3,117,1227,171,1280,170.7C1333.3,171,1387,117,1413,90.7L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
  </svg>
</section>

<style>
  .wrapper {    
    position: relative;
    padding-bottom: 6rem;
    background: var(--background-gradient);
  }

  .title {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }

  .list-wrapper {
    width: 90%;
    margin: 2rem auto 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .bottom-svg {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }

  /* tablet styles */
  @media screen and (min-width: 768px) {
    .title {
      width: 80%;
    }

    .list-wrapper {
      width: 80%;
      margin: 2rem auto 6rem;
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
    }
  }

  /* desktop styles */
  @media screen and (min-width: 1025px) {
    .wrapper {
      display: none;
    }
  }
</style>