---
  import TechList from './TechList.astro';

  const frontend = ['HTML/CSS', 'Typescript', 'React', 'Vue', 'TailwindCSS']
  const backend = ['NodeJS', 'Express', 'TRPC', 'Postgres'];
  const other = ['Git', 'Firebase', 'Supabase'];
---

<div class="section_content_margin">
  <h2 class="heading">Technologies I've worked with</h2>
  <div class="list-wrapper">
    <TechList title='frontend' techList={frontend} />
    <TechList title='backend' techList={backend} />
    <TechList title='other' techList={other} />
  </div>
</div>

<style>
  .list-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 450px;
  }
</style>